div.top_filters > ol > li{
    float: left;
    padding-right: 10px;
}
ol > li.selected{
    font-weight: bold;
}
div.top_filters {
    height: 60px;
}
div.top_filters>ol.items>li.item>a{
    color: #0a0a0a;
}
div.top_filters>ol.items>li.item>a>span.count>.filter-count-label{
    display: none;
}
li.selected.parent{
    font-weight: bold;
}
li.children{
    padding-left: 25px;
}
li.parent:not(.selected)>a>span.count{
    display:none;
}
#bxslider{
    margin: 10px 0px 10px 0px ;
}