<config>
    <default>
        <Boxalino_General>
            <general>
                <enabled>1</enabled>
                <account_dev>0</account_dev>
                <host>cdn.bx-cloud.com</host>
                <logs_saving>0</logs_saving>
            </general>
            <search>
                <quick_search>search</quick_search>
                <quick_search_limit>25</quick_search_limit>
                <advanced_search>search</advanced_search>
                <advanced_search_limit>25</advanced_search_limit>
                <autocomplete>autocomplete</autocomplete>
                <autocomplete_limit>6</autocomplete_limit>
                <autocomplete_products_limit>3</autocomplete_products_limit>
                <entity_id>id</entity_id>
            </search>
            <autocomplete_html>
                <enabled>1</enabled>
                <items>title:title,url:products_default_url,image:products_cache_image_url</items>
            </autocomplete_html>
            <autocomplete_extra>
                <enabled>1</enabled>
                <enabled_for_all>0</enabled_for_all>
                <items>4</items>
                <sort>1</sort>
                <products>1</products>
            </autocomplete_extra>
            <search_suggestions>
                <enabled>1</enabled>
                <min>3</min>
                <max>50</max>
                <display>6</display>
                <sort>1</sort>
            </search_suggestions>
            <search_relaxation>
                <enabled>1</enabled>
                <max>3</max>
                <relaxations>3</relaxations>
                <products>3</products>
            </search_relaxation>
            <filter>
                <left_filters_enable>0</left_filters_enable>
                <top_filters_enable>0</top_filters_enable>
                <left_filters_multiselect>0</left_filters_multiselect>
                <top_filters_multiselect>0</top_filters_multiselect>
            </filter>
            <tracker>
                <charset>UTF-8</charset>
                <enabled>1</enabled>
                <debug>1</debug>
                <analytics>1</analytics>
                <track_sales>1</track_sales>
            </tracker>
        </Boxalino_General>

        <Boxalino_Recommendation>
            <!-- CART -->
            <cart>
                <status>1</status>
                <widget>recommendation_cart</widget>
                <min>0</min>
                <max>3</max>
                <scenario>basket</scenario>
            </cart>
            <!-- RELATED -->
            <related>
                <status>1</status>
                <widget>recommendation_related</widget>
                <min>0</min>
                <max>3</max>
                <scenario>product</scenario>
            </related>
            <!-- UPSELL -->
            <upsell>
                <status>1</status>
                <widget>recommendation_upsell</widget>
                <min>0</min>
                <max>3</max>
                <scenario>product</scenario>
            </upsell>
        </Boxalino_Recommendation>
    </default>
</config>