<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="Boxalino" frontName="Boxalino">
            <module name="Boxalino_Intelligence" before="Magento_Adminhtml" />
        </route>
    </router>
</config>