.sub_product_suggestions{
    display: none;
}
.suggestion-item{
    padding-right: 10px !important;
    height: 50px;
}
span.product-name{
    /*background-color: #00A5E3 !important;*/
    top: 7px;
    position: relative;
}
span.product-image{
    /*background-color: #00ff00 !important;*/
    width:35px;
    position: relative;
    float: right;
}