<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
        <default>
            <bxExporter>
                <exporter>
                    <enabled>1</enabled>
                </exporter>
                <customers>
                    <enabled>1</enabled>
                </customers>
                <transactions>
                    <enabled>1</enabled>
                </transactions>
            </bxExporter>
			<bxSearch>
                <search>
                    <enabled>1</enabled>
                </search>
            </bxSearch>
			<bxRecommendations>
                <recommendations>
                    <enabled>1</enabled>
                </recommendations>
            </bxRecommendations>
			<bxTracker>
                <tracker>
                    <enabled>1</enabled>
                </tracker>
            </bxTracker>
        </default>
    </config>