<config>
    <default>
        <boxalinoexporter>
            <export_data>
                <export_server>http://di1.bx-cloud.com</export_server>
                <export_product_url>1</export_product_url>
                <export_product_images>1</export_product_images>
                <export_product_images_thumbnail>1</export_product_images_thumbnail>
                <maximum_population>0</maximum_population>
                <language>en</language>
                <export_categories>1</export_categories>
                <export_tags>1</export_tags>
                <export_customers>1</export_customers>
                <export_transactions>1</export_transactions>
                <export_transactions_full>0</export_transactions_full>
                <export_chunk>200</export_chunk>
            </export_data>
        </boxalinoexporter>
    </default>
</config>