.bxOverlayNewsletter{
  height: 200px;
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  z-index: 10;
}

.bxOverlayNewsletter #bxOverlayNewlsetterForm{
  position: relative
}

.bxOverlayNewsletter #bxOverlayExitButton{
  position: absolute;
  z-index: 7;
  left: 0;
  right: unset;
  top: 0;
  bottom: unset;
  margin-top: -15px;
  margin-left: -15px;
  height: 40px;
  width: 40px;
  line-height: 1.5;
  padding: 4px 8px;
  float: right;
  border-radius: 50%;
  box-shadow: none;
  background: rgb(255, 255, 255);
  font-size: 12px
}

.bxOverlayNewsletter #bxOverlayNewsletterTitle{
  position: absolute;
  width: 40%;
  height: auto;
  top: 20%;
  left: 10%;
}

.bxOverlayNewsletter #bxOverlayNewsletterText{
  position: absolute;
  width: 40%;
  height: auto;
  top: 30%;
  left: 10%;
}

.bxOverlayNewsletter #bxOverlayNewsletterInput{
  width: 30%;
  top: 50%;
  position:  absolute;
  left: 10%
}

.bxOverlayNewsletter #bxOverlayNewsletterSubmit{
  position: absolute;
  top: 65%;
  left: 10%;
}

.bxOverlayNewsletter #bxOverlayExitButton::after{
  content: none;
}

/* Styling products template */
.bxOverlayProductsMain{
  display: inline-table;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  z-index: 6;
  width: fit-content;
}

.bxOverlayProductsMain .bxOverlayProducts{
  width: 100%;
  height: 100%;
}

.bxOverlayProducts .bxProductsBlock {
  width: 100%;
  float: left;
}

.bxOverlayProducts .products-grid {
  padding:20px;
  margin: 0;
}

.bxOverlayProducts .product-items {
  margin: 0;
}

.bxOverlayProducts .product-items span {
  margin-right: 25px;
}

.bxOverlayProducts .bxOverlayLink{
  display: inline-block;
  margin-top: 40px;
}

.bxOverlayProducts .bxOverlayLink #bxOverlayUrl{
  display: block;
  position: absolute;
  z-index: 7;
  height: unset;
  line-height: 1.5;
  padding: 4px 8px;
  top: unset;
  bottom: 0;
  left: unset;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: x-large;
}

.bxOverlayProducts #bxOverlayExitButton{
  top:0;
  right:0;
  left: unset;
  bottom: unset;
  position: absolute;
  margin-right: -20px;
  margin-top: -20px;
}


/* JSSOR */
.bxOverlayJssor{
  position:fixed;
  margin:auto;
  width:1238px;
  height:355px;
  overflow:visible;
  visibility: visible;
  z-index:10;
  top:0;
  right:0;
  left: 0;
  bottom:0;
}

.bxOverlayJssorExitButton{
  display: block;
  position: absolute;
  z-index: 11;
  height: 40px;
  width: 40px;
  line-height: 1.5;
  padding: 4px 8px;
  float: right;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  margin-left: -20px;
  margin-top: -20px;
  top: 0;
  bottom: unset;
  left: 0;
  right: unset;
}

.bxOverlayJssorSlides{
  cursor:default;
  position:relative;
  top:0;
  left:0;
  width:1238px;
  height:355px;
  overflow:hidden;

}

@media screen and (max-width:768px){
  #bannerOverlay{
    border-radius: 4px !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1) !important;
    height: 87% !important;
    background-color: white;
  }
  #bannerOverlay div:nth-child(2) div{
    overflow:visible !important;
  }
  .bxOverlayExitButton{
    height: 80px !important;
    width: 80px !important;
    font-size: 40px !important;
  }
  .bannerOverlay_bxBannerBackgroundImage{
    top:auto !important;
    left:auto !important;
    display: none !important;
    pointer-events: none !important;
    cursor: default !important;
  }
  .bannerOverlay_bxBannerBackgroundImage img{
    display: none !important
  }
  .bannerOverlay_bxBannerLink{
    z-index: 1000 !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
  .bannerOverlay_bxBannerTitle{
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 0 !important;
    width: 95% !important;
    height: auto !important;
    z-index: auto !important;
    color: black !important;
    text-align: left !important;
    padding-top: 50px !important;
    margin-bottom: 15px !important;
    font-weight: 400 !important;
    display: block !important;
    font-size: 8rem !important;
  }
  .bannerOverlay_bxBannerDescription{
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    top: auto !important;
    width: 95% !important;
    height: auto !important;
    z-index: auto !important;
    color: #009ee0 !important;
    text-align: left !important;
    display:block !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 1.333 !important;
    font-size: 5rem !important;
    margin: 40px auto !important;
  }
  .bannerOverlay_bxBannerSmallImage{
    position: relative !important;
    top: auto !important;
    right: 0 !important;
    left: 15% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 70% !important;
    height: auto !important;
    z-index: auto !important;
  }
  .bannerOverlay_bxBannerButton{
    position: absolute !important;
    right: 0 !important;
    left: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
    height: 30% !important;
    width: auto !important;
    top: 1220px !important;
  }
  .jssora051 .a {
    stroke:none !important;
  }
}

#bxOverlayExitButton::after{
  content: none;
}

@media screen and (max-width: 425px) {
  #bannerOverlay{
    height: 50% !important;
  }
}

@media screen and (min-width: 768px) {
  #bannerOverlay{
    border-radius: 4px !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1) !important;
  }

  .bannerOverlay_bxBannerTitle{
    font-family:true !important;
    line-height:1 !important;
  }
  .bannerOverlay_bxBannerDescription{
    font-family:true !important;
  }
  .bannerOverlay_bxBannerLink{
    z-index: 100 !important;
    position: absolute !important;
    display: block !important;
    width: 100% !important;
    height: 500% !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*JSSOR Specific Style*/

.jssorl-004-double-tail-spin img {
  animation-name: jssorl-004-double-tail-spin;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.i {
  position:absolute;
  cursor:pointer;
}
.i .b {
  fill:#000;
  fill-opacity:0.5;
  stroke:#fff;
  stroke-width:1200;
  stroke-miterlimit:10;
  stroke-opacity:0.3;
}
.i:hover .b {
  fill:#fff;
  fill-opacity: .7;
  stroke:#000;
  stroke-opacity:.5;
}
.iav .b {
  fill:#fff;
  stroke:#000;
  fill-opacity:1;
}
.jssorb031 .i .idn {
  opacity: .3;
}
.jssora051 {
  display:block;
  position:absolute;
  cursor:pointer;
}
.jssora051 .a {
  fill:none;
  stroke:#fff;
  stroke-width:360;
  stroke-miterlimit:10;
}
.jssora051:hover {
  opacity: .8;
}
.jssora051 .jssora051dn {
  opacity: .5;
}
.jssora051 .jssora051ds {
  opacity: .3;
  pointer-events:none;
}

.jssorb032{
  position:absolute;
  bottom:12px;
  right:12px;
}

.jssorb32 .i{
  width:16px;
  height:16px;
}

.i viewbox{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.bxOverlayJssorArrowLeft{
  width:65px;
  height:65px;
  top:0px;
  left:25px;
}

.bxOverlayJssorArrowRight{
  width:65px;
  height:65px;
  top:0px;
  right:25px;
}

.jssora051 svg{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.jssorl-009-spin{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  text-align:center;
  background-color:rgba(0,0,0,0.7);
}

/* Styling for the simple overlay */
#bxOverlayBackgroundImage{
  display: none;
  width:200px;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  z-index: 6;
}
#bxOverlayTitleImage{
  display: none;
  width: 180px;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 15%;
  margin: auto;
  z-index: 6;
}
#bxOverlayText{
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 190px;
  height: 5%;
  text-align:
          center;
  z-index: 6;
}
#bxOverlayButton{
  display: none;
  width: 160px;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: -20%;
  margin: auto;
  z-index: 6;
}

/* Shadow */
#bxOverlayShadow{
  display: none;
  position: fixed;
  background: rgba(0,0,0,.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
