<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- for add new tab in Magento2 system configuration section -->
        <tab id="boxalino" translate="label" sortOrder="10">
            <label>Boxalino</label>
        </tab>
        <!-- for create section -->
        <section id="bxGeneral" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <!-- Assign section to tab -->
            <tab>boxalino</tab>
            <resource>Boxalino_Exporter::configuration</resource>
            <!-- create group for fields in section -->
            <group id="general" translate="label" type="text" delault="1" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <!-- create text type field -->
                <field id="account_name" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Boxalino Account name</label>
                    <comment>Please request your account with credentials by contacting support@boxalino.com</comment>
                </field>
            </group>
			<group id="advanced" translate="label" type="text" delault="1" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced</label>
                <!-- create text type field -->
                <field id="language" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Overwrite language</label>
                    <comment>Optional: uses store's "general/locale/code" value by default</comment>
                </field>
            </group>
        </section>
		<section id="bxExporter" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Exporter</label>
            <!-- Assign section to tab -->
            <tab>boxalino</tab>
            <resource>Boxalino_Exporter::configuration</resource>
            <!-- create group for fields in section -->
            <group id="exporter" translate="label" type="text" delault="1" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Exporter</label>
                <!-- create text type field -->
                <field id="enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" default="0">
                    <label>Enable export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
			<group id="customers" translate="label" type="text" delault="1" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customers</label>
                <!-- create text type field -->
                <field id="enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" default="0">
                    <label>Enable export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
			<group id="transactions" translate="label" type="text" delault="1" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Transactions</label>
                <!-- create text type field -->
                <field id="enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" default="0">
                    <label>Enable export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
		<section id="bxSearch" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Search</label>
            <!-- Assign section to tab -->
            <tab>boxalino</tab>
            <resource>Boxalino_Exporter::configuration</resource>
            <!-- create group for fields in section -->
            <group id="search" translate="label" type="text" delault="1" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search</label>
                <!-- create text type field -->
                <field id="enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" default="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
		<section id="bxRecommendations" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Recommendations</label>
            <!-- Assign section to tab -->
            <tab>boxalino</tab>
            <resource>Boxalino_Exporter::configuration</resource>
            <!-- create group for fields in section -->
            <group id="recommendations" translate="label" type="text" delault="1" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recommendations</label>
                <!-- create text type field -->
                <field id="enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" default="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
		<section id="bxTracker" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tracker</label>
            <!-- Assign section to tab -->
            <tab>boxalino</tab>
            <resource>Boxalino_Exporter::configuration</resource>
            <!-- create group for fields in section -->
            <group id="tracker" translate="label" type="text" delault="1" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tracker</label>
                <!-- create text type field -->
                <field id="enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" default="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>