<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
			<bxGeneral>
                <general>
                    <enabled>1</enabled>
                    <dev>0</dev>
                </general>
            </bxGeneral>
            <bxExporter>
                <exporter>
                    <enabled>1</enabled>
                </exporter>
                <customers>
                    <enabled>1</enabled>
                </customers>
                <transactions>
                    <enabled>1</enabled>
                </transactions>
                <advanced>
                    <publish_configuration_changes>1</publish_configuration_changes>
                </advanced>
            </bxExporter>
            <bxSearch>
                <search>
                    <enabled>0</enabled>
                </search>
                <autocomplete>
                    <enabled>1</enabled>
                    <limit>7</limit>
                    <products_limit>1</products_limit>
                </autocomplete>
                <advanced>
                    <search_sub_phrases_limit>3</search_sub_phrases_limit>
                    <thrift_timeout>2</thrift_timeout>
                </advanced>
            </bxSearch>
            <bxRecommendations>
                <cart>
                    <enabled>1</enabled>
                    <min>3</min>
                    <max>3</max>
                </cart>
                <related>
                    <enabled>1</enabled>
                    <min>3</min>
                    <max>3</max>
                </related>
                <upsell>
                    <enabled>1</enabled>
                    <min>3</min>
                    <max>3</max>
                </upsell>
            </bxRecommendations>
        </default>
    </config>